{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Bienvenido a la Base de Datos de PharmaDino.</h1>

	</br>
	</br>

    <mark>Noticias Nuevas:</mark>
    <h2>Descuento Especial 15% a:</h2>
    <ul>
		<li>PAMI</li>
		<li>OBRAS SOCIALES</li>
		<li>PAMI ONCOLOGICO</li>
		<li>RECETAS MAGISTRALES</li>
		<li>RECETARIO SOLIDARIO</li>
		<li>RECETAS MAGISGRALES</li>
		<li>RECETARIO SOLIDRIO</li>
		<li>POLICIA FEDERAL</li>
		<li>PERFUMERIA</li>
	</ul>
</div>
{% endblock %}